*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --ff-primary:'Source Code Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light:#ecf0f1;
    --clr-dark: #303030;
    --clr-accent:#3498db;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .4em .5em 1em rgba(0,0,0,.5);
}

@media (min-width:800px){
    :root {
        --fs-h1:4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
    }
}

/* General styles */
body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display:block;
    max-width: 100%;
}

strong {font-weight:var(--fw-bold);}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section_title {
    margin-bottom:.25rem;
}

.section_title-intro {
    font-weight: var(--fw-reg);
}

.section_title-intro strong {
    display: block;
}

html {
    scroll-behavior: smooth;
}


/* Buttons */
.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1)
}

.section_subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section_subtitle-intro,
.section_subtitle-about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* header */
    .header {
        display: flex;
        justify-content: space-between;
        padding: 1em;

    }
    .nav {
        position: fixed;
        background-color: var(--clr-dark);
        color: var(--clr-light);
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        z-index: 100;
        transform: translate(100%);
        transition: transform 250ms cubic-bezier(0.55, 0, 0.675, 1);
    }

    .nav_list {
        display: flex;
        list-style: none;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav_link {
        color: inherit;
        font-weight: var(--fw-bold);
        font-size: var(--fs-h2);
        text-decoration: none;
    }

    .nav_link:hover {
        color: var(--clr-accent)
    }

    .nav-toggle {
        padding: .5em;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 1000;
    }

    .nav-open .nav {
        transform: translateX(0);
    }

    .nav-open .nav-toggle {
        position: fixed;
    }

    .nav-open .hamburger {
        transform: rotate(.625turn);
    }

    .nav-open .hamburger::after {
        opacity:0;
    }

    .nav-open .hamburger::before {
        transform: rotate(90deg) translateX(-6px);
    }

    /* Hamburger*/
    .hamburger {
        display: block;
        position: relative;
        
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background-color: var(--clr-accent);
        width: 2em;
        height: 3px;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
    }

    .hamburger::before {
        top: 6px;
    }
    .hamburger::after {
        bottom: 6px;
    }

/* Intro section */
.intro {
    position: relative;
}

/* Animations */
.section_title-intro {
    animation: fadein;
    animation-name: title_intro;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
.section_subtitle-intro {
    animation-name: subtitle_intro;
    animation-duration: 1.7s;
    animation-timing-function: ease-in;
}
.intro_img {
    animation: fadein;
    animation-name: intro_img;
    animation-duration: 1.7s;
    animation-timing-function: ease-in;
}

@keyframes title_intro {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes subtitle_intro {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes intro_img {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em ;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;    
    }

    .intro_img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    
    .section_subtitle-intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em)  
    }
    
    @keyframes title_intro {
        0% {opacity: 0; }
        100% {opacity: 1;}
    }
    @keyframes subtitle_intro {
        0% {
            opacity: 0;
            left: 100em;
            top: 0px; 
        }
        50% {opacity: 0;}
        75% {opacity: 0;}
        100% {
            opacity: 1;
            left: -1.5em;
            top: 0px;
        }
    }
    @keyframes intro_img {
        0%  {
            opacity: 0;
            top: -100px;
        }
        25%{opacity:0;}
        50% {opacity: 0;}
        100% {
            opacity: 1;
            top: 0px;
        }
    }
}

.intro_img {
    box-shadow: var(--bs);
}

/*My services */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/glencoe2.jpg);
    background-size: cover;
    /*background-blend-mode: multiply;*/
    color: var(--clr-light);
    text-align: center;
}
.section_title-services {
    color: var(--clr-accent);
    position: relative;
}

.section_title-services::after {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    margin: .5em auto 1em;
    background: currentColor;
    /*opacity: .5;*/
}
.services {
    margin-bottom: 3em;
}

.service {
    max-width: 750px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* About me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me_img {
    box-shadow: var(--bs);
}

.about-me_body {
    margin-top: -1em;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-areas: 
            "img title"
            "img subtitle"
            "img text";
        grid-column-gap: 1em;    
    }

    .section_title-about {
        grid-area: title;
    }
    
    .about-me_img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }

    .section_subtitle-about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        /*padding-left: 1em;*/
        padding-left: calc(300px + 2em)
    }
}

/* My work */

.my-work {
    background: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section_subtitle-work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    margin: 0 auto;
}

.portfolio_item {
    /*background-color: var(--clr-accent);*/
    overflow: hidden;
}

.portfolio_img {
    transition: transform 500ms cubic-bezier(0.55, 0, 0.675, 1), opacity 250ms linear;
}

.portfolio_item:focus {
    position: relative;
    z-index: 2;
}

.portfolio_img:hover,
.portfolio_item:focus .portfolio_img {
    transform: scale(1.2);
    opacity: .75;
}

/* Footer */
.footer {
    background-color: #111111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
    margin:0;
}

.footer a {
    color: inherit;
    text-decoration: none;
} 

.footer_link {
    font-weight: var(--fw-bold);
}

.footer_link:hover,
.social-list_link:hover {
    opacity:.7;
}

.footer_link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list_item {
    margin: 0 1em;
}

.social-list__link {
    padding: .5em;
}

.copyrights {
    display: flex;
    justify-content: center;
    font-size: var(--fs-body);
    background-color: #111111;
    opacity: .8;
    height: 2rem;
    font-size: .8rem;
}

